node_modules
.env
*.env
refugio_Carapita_Channel_Manager.env
.next
build
dist
*.log
.DS_Store
backend/uploads/*
!backend/uploads/.gitkeep
frontend/.next
frontend/out
backend/node_modules
frontend/node_modules
.gemini
frontend/.env.local
